*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}

.main-container{

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-section{
    width: 300px;
    height: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    background-color: rgb(230, 230, 230);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.logo{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.img-section{
    width: 140px;
    height: 140px;
    
    border-radius: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 0px 80px;
    
}

.YourImg{
    width:140px;
    height:140px;
    border-radius: 75px;
    border: 3px solid #FF2231;
}

.YourName, .YourBatch  {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 18px;   

}
.YourPost { 
    margin-top: 10px;
}

.YourName{
    border: 0;
    background-color: rgb(241, 128, 128);
    width: 180px;
    border-radius: 10px;
    padding: 6px;
}

.YourId{
    
    margin-top: 20px;
}

.info{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.YourBatch{
    color: #001378;
}
.YourId{
    color: #FF2231;
}